@model Social_network.ViewModels.GroupsViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

<table class="table">
    <tr>
        <td style="padding:0px" width="210px">
            <div>
                <img src="@Model.GroupAvatarURL" width="200" />
            </div>
        </td>
        <td bgcolor="#D3EDF6" style="padding:0px">
            <div>
                <table>
                    <tr>
                        <td style="padding:5px">
                            @localizer["GroupName"] 
                        </td>
                        <td style="padding:5px">
                            @Model.GroupName <br style="padding:20px">
                        </td>
                    <tr />
                    <tr>
                        <td style="padding:5px">
                            @localizer["GroupType"]
                        </td>
                        <td style="padding:5px">
                            @if (Model.IsClose)
                            {
                                <nav>@localizer["Close"]</nav>
                            }
                            else
                            {
                                <nav>
                                    @localizer["Open"]
                                </nav>
                            }
                        </td>
                    <tr />
                    <tr>
                        <td style="padding:5px">
                            @localizer["CreateDate"]
                        </td>
                        <td style="padding:5px">
                            @Model.GroupCreateDate.ToString("d")<br style="padding:20px">
                        </td>
                    <tr />
                    <tr>
                        <td style="padding:5px">
                            @localizer["Followers"]
                        </td>
                        <td style="padding:5px">
                            @Model.GroupCountFollowers<br>
                        </td>
                    <tr />
                    <tr>
                        <td style="padding:5px">
                            @localizer["Admin"]
                        </td>
                        <td style="padding:5px">
                            @Html.ActionLink(@Model.GroupAdminUsername, "UserPage", "User", new { Id = Model.GroupAdminId })
                        </td>
                    <tr />
                    <tr>
                        <td style="padding:5px">
                            @localizer["YourRole"]
                        </td>
                        <td style="padding:5px">
                            @if (Model.GroupAdminName == User.Identity.Name)
                            {
                                <nav>@localizer["Admin"]</nav>
                            }
                            else if (Model.UserIsModerator)
                            {
                                <nav>@localizer["Moderator"]</nav>
                            }
                            else if (Model.MyUserConsistInGroup || !Model.IsClose)
                            {
                                <nav>@localizer["DefoultUser"]</nav>
                            }
                            else
                            { <nav>@localizer["WithoutRules"]</nav>}
                        </td>
                    <tr />
                    <tr>
                        <td style="padding:5px">
                            @localizer["Actions"]
                        </td>
                        <td style="padding:5px">
                            @if (User.IsInRole("Admin"))                           //глобальній админ
                            {
                                <a class="border-dark" asp-controller="Group" asp-action="DeleteGroup" asp-route-id="@Model.GroupId">@localizer["DeleteGroup"]</a> <br />
                                <a class="border-dark" asp-controller="Group" asp-action="ShowSubscribers" asp-route-id="@Model.GroupId">@localizer["AllFollowers"]</a> <br />
                            }
                            else if (Model.MyUserConsistInGroup)                   //я состою в группе?
                            {
                                if (User.Identity.Name == Model.GroupAdminName)         //я админ?
                                {
                                    <a class="border-dark" asp-controller="Group" asp-action="DeleteGroup" asp-route-id="@Model.GroupId">@localizer["DeleteGroup"]</a> <br />
                                    <a class="border-dark" asp-controller="Group" asp-action="EditGroup" asp-route-id=@Model.GroupId>@localizer["EditGroup"]</a> <br />
                                    <a class="border-dark" asp-controller="Group" asp-action="Moderators" asp-route-id=@Model.GroupId>@localizer["Moderation"]</a> <br />
                                    if (Model.IsClose)                                       //Заявки в закрытую группу
                                    {
                                        <a class="border-dark" asp-controller="Group" asp-action="RequestsInGroup" asp-route-id=@Model.GroupId>@localizer["RequestsInGroup"] (@Model.GroupCountFollowersRequests)</a> <br />
                                    }
                                }
                                else if (Model.UserIsModerator)                         //я модер?
                                {
                                    <a class="border-dark" asp-controller="Group" asp-action="EditGroup" asp-route-id=@Model.GroupId>@localizer["EditGroup"]</a> <br />
                                    <a class="border-dark" asp-controller="Group" asp-action="UnsubscribeFromGroup" asp-route-id="@Model.GroupId">@localizer["Unsubscribe"]</a> <br />
                                    if (Model.IsClose)                                       //Заявки в закрытую группу
                                    {
                                        <a class="border-dark" asp-controller="Group" asp-action="RequestsInGroup" asp-route-id=@Model.GroupId>@localizer["RequestsInGroup"] (@Model.GroupCountFollowersRequests)</a> <br />
                                    }
                                }
                                else                                                    //обычный юзер
                                {
                                    <a class="border-dark" asp-controller="Group" asp-action="UnsubscribeFromGroup" asp-route-id="@Model.GroupId">@localizer["Unsubscribe"]</a> <br />
                                }
                                <a class="border-dark" asp-controller="Group" asp-action="ShowSubscribers" asp-route-id="@Model.GroupId">@localizer["AllFollowers"]</a> <br />

                            }
                            else if (!Model.IsClose) //группа открыта + я не состою
                            {
                                <a class="border-dark" asp-controller="Group" asp-action="RequestJoinGroup" asp-route-id="@Model.GroupId">@localizer["Enter"]</a> <br />
                                <a class="border-dark" asp-controller="Group" asp-action="ShowSubscribers" asp-route-id="@Model.GroupId">@localizer["AllFollowers"]</a> <br />
                            }
                            else                     //группа закрыта + я не состою
                            {
                                if (ViewData["ActionCloseGroup"].ToString() == "RequestJoinGroup")
                                {
                                    <a class="border-dark" asp-controller="Group" asp-action="RequestJoinGroup" asp-route-id="@Model.GroupId">@localizer["SubmitRequestToGroup"]</a> <br />
                                }
                                else if (ViewData["ActionCloseGroup"].ToString() == "UnsubscribeFromGroup")
                                {
                                    <a class="border-dark" asp-controller="Group" asp-action="UnsubscribeFromGroup" asp-route-id="@Model.GroupId">@localizer["CancelGroupRequest"]</a> <br />
                                }
                            }
                        </td>
                    </tr>
                    <tr>
                        <td style="padding:5px">
                            @localizer["Notes"]
                        </td>
                        <td style="padding:5px">
                            @Model.GroupNotes

                        </td>
                    </tr>
                </table>

            </div>
        </td>
    </tr>
</table>
<nav>
    @if (User.Identity.Name == Model.GroupAdminName || User.IsInRole("Admin") || Model.UserIsModerator)
    {
        <form asp-action="Send">
            <input type="text" asp-for="NewPost.Text" />
            <input type="hidden" asp-for="GroupId" />
            <input type="submit" value=@localizer["SendPost"] class="btn btn-primary" />
        </form>
    }
    @if (!(!Model.MyUserConsistInGroup && Model.IsClose && !User.IsInRole("Admin"))) //Если не состоишь в закрытой группе то посты не отображаются
    {
        @foreach (var post in Model.Posts)
        {
            <nav>
                @post.PostSenderName <img src="@post.PostSenderAvatar." width="15" /> <sub>(@post.PostTime.ToString("g"))</sub><br />

                @if (User.Identity.Name == Model.GroupAdminName || User.IsInRole("Admin") || Model.UserIsModerator)
                {
                    @Html.ActionLink($"{localizer["DeletePost"].Value}", "DeletePost", new { PostId = post.Id })
                }

                <div style="border: solid; padding:10px">
                    @post.Text
                </div>
            </nav><br />
        }
    }
</nav>