@model Social_network.ViewModels.UserGroupsViewModel

<nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3 navbar-expand-md">
    <div class="container">
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">

                <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="Group" asp-action="MyGroups" asp-route-id="@Model.Id">Мои группы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="Group" asp-action="NewGroups" asp-route-id="@Model.Id">Новые группы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="Group" asp-action="CreateGroup" asp-route-id="@Model.Id">Создать группу</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="Group" asp-action="AddFreeFriends" asp-route-id="@Model.Id">------</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div>@ViewData["PageName"]</div>
<nav>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Avatar
                </th>
                <th>
                    Name
                </th>
                <th>
                    Подписчиков
                </th>
                <th>
                    Дата создания
                </th>
                <th>
                    Описание
                </th>
            </tr>
        </thead>
        @foreach (var group in Model.Groups)
        {
            <tbody>
                <tr>
                    <td>
                        <img src="@group.GroupAvatarURL" width="15" />
                    </td>
                    <td>
                        @Html.ActionLink(@group.GroupName, "GroupPage", new { UserId = Model.Id, GroupPageId = group.GroupId })
                    </td>
                    <td>
                        @group.GroupCountFollowers
                    </td>
                    <td>
                        @group.GroupCreateDate
                    </td>
                    <td>
                        @group.GroupNotes
                    </td>
                    <td>
                        @if (ViewData["PageName"].ToString() == "NewGroups")
                        {
                            if (group.IsClose)
                            {
                                @Html.ActionLink("Отправить заявку", "AddGroup", new { MyUserId = Model.Id, AddGroupId = group.GroupId })
                            }
                            else
                            {
                                @Html.ActionLink("Подписаться", "AddGroup", new { MyUserId = Model.Id, AddGroupId = group.GroupId })
                            }

                        }
                    </td>
                </tr>
            </tbody>
        }
    </table>
</nav>