@model Social_network.ViewModels.UserGroupsViewModel

<nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3 navbar-expand-md">
    <div class="container">
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">

                <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="Group" asp-action="MyGroups">Подписан</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="Group" asp-action="NewGroups">Новые группы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="Group" asp-action="SubmittedRequests">Отправленные заявки</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="Group" asp-action="CreateGroup">Создать группу</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div>@ViewData["PageName"]</div>
<nav>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Avatar
                </th>
                <th>
                    Name
                </th>
                <th>
                    Подписчиков
                </th>
                <th>
                    Дата создания
                </th>
                <th>
                    Описание
                </th>
            </tr>
        </thead>
        @foreach (var group in Model.Groups)
        {
            <tbody>
                <tr>
                    <td>
                        <img src="@group.GroupAvatarURL" width="15" />
                    </td>
                    <td>
                        @Html.ActionLink(@group.GroupName, "GroupPage", new { GroupId = group.GroupId })
                    </td>
                    <td>
                        @group.GroupCountFollowers
                    </td>
                    <td>
                        @group.GroupCreateDate
                    </td>
                    <td>
                        @group.GroupNotes
                    </td>
                </tr>
            </tbody>
        }
    </table>
</nav>