@model Social_network.ViewModels.FriendsViewModel

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["AddFreeFriends"];
}

<nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3 navbar-expand-md">
    <div class="container">
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">

                <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="Friends" asp-action="DoingsWithFriends">@Localizer["MyFriends"]</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="Friends" asp-action="SendFriends">@Localizer["Outgoing"]</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="Friends" asp-action="RequestFriends">@Localizer["Incoming"]</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="Friends" asp-action="AddFreeFriends">@Localizer["NewFriends"]</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div>@Localizer["AddFriend"]</div>
<nav>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Localizer["Avatar"]
                </th>
                <th>
                    @Localizer["Name"]
                </th>
                <th>
                    @Localizer["Doing"]
                </th>
            </tr>
        </thead>
        @foreach (var friend in Model.FriendsListForModel)
        {
            <tbody>
                <tr>
                    <td>
                        <img src="@friend.AvatarURL" width="15" />
                    </td>
                    <td>
                        @Html.ActionLink(friend.Name + friend.Surname, "UserPage", "User", new { Id = friend.Id })
                    </td>
                    <td>
                        @Html.ActionLink($"{Localizer["SendRequest"].Value}", "AddFriend", new { userToAddId = friend.Id })
                    </td>
                </tr>
            </tbody>
        }
    </table>
</nav>