@model Social_network.ViewModels.UserViewModel

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer


<form asp-action="EditMyInformation">
    <div>
        <h4>@Localizer["EditMyInformation"]</h4>
        <hr />
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="Email" />
        <div class="form-group">
            <label class="col-lg-2 col-form-label">@Localizer["Name"]</label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 col-form-label-lg">@Localizer["Surname"]</label>
            <div class="col-md-11">
                <input asp-for="Surname" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 col-form-label-lg">@Localizer["BirthDate"]</label>
            <div class="col-md-11">
                <input asp-for="BirthDate" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 col-form-label-lg">@Localizer["PhoneNumber"]</label>
            <div class="col-md-11">
                <input asp-for="PhoneNumber" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 col-form-label-lg">@Localizer["AvatarURL"]</label>
            <div class="col-md-11">
                <input asp-for="AvatarURL" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 col-form-label-lg">@Localizer["Notes"]</label>
            <div class="col-md-11">
                <input asp-for="Notes" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-4">
                <input type="submit" value="@Localizer["Save"]" class="btn btn-primary" />
            </div>
        </div>
    </div>

</form>