@model Social_network.ViewModels.UserViewModel

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer

@{
    var returnUrl = string.IsNullOrWhiteSpace(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}{Context.Request.QueryString}";
}

<table class="table">
    <tr>
        <td style="padding:0px" width="210px">
            <div>
                <img src="@Model.AvatarURL" width="200" />
            </div>
        </td>
        <td bgcolor="#D3EDF6" style="padding:0px">
            <div>
                <table>
                    <tr>
                        <td style="padding:5px">
                            @localizer["UserName"] 
                        </td>
                        <td style="padding:5px">
                            @Model.Name @Model.Surname<br style="padding:20px">
                        </td>
                    <tr />
                    <tr>
                        <td style="padding:5px">
                                @localizer["BirthDate"]
                        </td>
                        <td style="padding:5px">
                                @Model.BirthDate.ToString("d")<br style="padding:20px">
                        </td>
                    <tr />
                    <tr>
                        <td style="padding:5px">
                            @localizer["PhoneNumber"]
                        </td>
                        <td style="padding:5px">
                              @Model.PhoneNumber<br>
                        </td>
                    <tr />
                    @if(true){ //fr
                        <tr>
                            <td style="padding:5px">
                                @localizer["Friends"]
                            </td>
                            <td style="padding:5px">
                                  number))
                            </td>
                        </tr>
                    } 
                    @if(true){ //gr
                        <tr>
                            <td style="padding:5px">
                                @localizer["Groups"]
                            </td>
                            <td style="padding:5px">
                                  number2))
                            </td>
                        </tr>
                    }
                    <tr>
                        <td style="padding:5px">
                            @localizer["Actions"]
                        </td>
                        <td style="padding:5px">
                            @if (User.Identity.Name == Model.Email || User.IsInRole("Admin"))
                                {
                                    <a asp-controller="User" asp-action="EditMyInformation" asp-route-id="@Model.Id">@localizer["EditMyInformation"]</a>
                                }
                            else
                            {
                                @if (Model.friendshipStatus == 0)
                                {
                                    <a asp-controller="Friends" asp-route-userToAddId="@Model.Id" asp-route-returnUrl="@returnUrl" asp-action="AddFriend">  @localizer["SendRequestToFriendship"] </a>
                                }
                                @if (Model.friendshipStatus == 1)
                                {
                                    <a asp-controller="Friends" asp-route-UserRequest="@Model.Id" asp-route-returnUrl="@returnUrl" asp-action="CancelSendFriendship">  @localizer["CancelRequestToFrienship"] </a>
                                }
                                 @if (Model.friendshipStatus == 2)
                                {
                                    <a asp-controller="Friends" asp-route-userToDeleteId="@Model.Id" asp-route-returnUrl="@returnUrl" asp-action="DeleteFriend">  @localizer["RemoveFromFriends"] </a>
                                }
                                 @if (Model.friendshipStatus == 3)
                                {
                                    <a asp-controller="Friends" asp-route-UserRequest="@Model.Id" asp-route-returnUrl="@returnUrl" asp-action="CancelRequestFriendship">  @localizer["CancelRequest"] </a> @(" | ")
                                    <a asp-controller="Friends" asp-route-UserRequest="@Model.Id" asp-route-returnUrl="@returnUrl" asp-action="AcceptNewFriend">  @localizer["AcceptRequest"] </a>
                                }
                                <br /><br />

                                <form asp-controller="Chat" asp-action="CreateOrChooseChat" method="post" asp-route-foreignUserId="@Model.Id">
                                    <button class="favorite styled" type="button" onclick="this.form.submit();">@localizer["SendSms"]</button>
                                </form>
                            }
                        </td>
                    <tr />
                    <tr>
                        <td style="padding:5px">
                            @localizer["Notes"]
                        </td>
                        <td style="padding:5px">
                            @Model.Notes<br />
                        </td>
                    </tr>
                </table>
                
            </div>
        </td>
        
    </tr>
</table>


<nav>
    @if (User.Identity.Name == Model.Email || User.IsInRole("Admin"))
    {
    <form asp-action="Send">

        @Html.HiddenFor(m => Model.Id)
        @localizer["PublishTheNews"]:
        <input type="text" asp-for="NewPost.Text" />
        <input type="submit" value="@localizer["SendPost"]"class="btn btn-primary" />
    </form>
    }
    @foreach (var post in Model.Posts)
    {
        <nav>
            @Model.Name @Model.Surname <img src="@Model.AvatarURL" width="15" /> <sub>(@post.PostTime.ToString("g"))</sub><br />

            @if (User.Identity.Name == Model.Email || User.IsInRole("Admin"))
            {
                @Html.ActionLink($"{localizer["DeletePost"].Value}", "DeletePost", new { PostId = post.Id })
            }
            <div class="UserPosts">
                <div class="WithTransfers">
                    @post.Text      
                </div>
            </div>
        </nav><br />
    }
</nav>

